.row
  .large-8.columns
    %h3
      Welcome back
      = current_user.first_name
      !
  .large-4.columns
.row
  .large-9.columns.large-centered
    %h4 Your active contests
    %table
      %thead
        %tr
          %th Theme
          %th Created by
          %th Ends on
      %tbody
        - @contests.each do |contest|
          %tr
            %td= link_to(contest.name, contest)
            %td= contest.admin_first_name
            %td
              = contest.end_date
              = contest.end_time
  .large-3.columns
.row
  .large-4.columns
  .large-8.columns

