.row
  .large-12.columns
    %h2
      Results for
      = @contest.name
      - @contest.tally.each do |s,v|
        %h5
          song
          = s
          vote(s)
          = v



    %table
      %theader
        %tr
          %th Song
          %th Submitted by
      %tbody
        - @songs.each do |song|
          %tr
            %td
              = song.id
              \-
              = song.title
            %td= song.users.first.first_name