.row
  .large-12.columns
    %h2
      Results for
      = @contest.name
    %table
      %theader
        %tr
          %th Number of votes
          %th Song
          %th Submitted by
      %tbody
        - @songs.each do |song|
          %tr
            %td VOTES
            %td= song.title
            %td= song.users.first.first_name

- @contest.tally.each do |user, song|
  = user.first_name
  = song.title