.row
  .large-5.columns
    %h2= @contest.name
    = link_to 'View playlist in Spotify web', 'http://open.spotify.com/user/khalua/playlist/4sr4qCrtBG45sJO2377FB3', :class => 'button radius'
    %script
      = "var contest_id = #{@contest.id}"
    %h5
      = @owner.first_name
      created this contest
    %br
    %h5
      Description:
      = @contest.description
    %h5
      = @contest.start_date
      to
      = @contest.end_date
      - if !@auth.in?(@contest.entries) #user does not have an entry in this contest
        = link_to 'Add your song', new_contest_song_path(@contest), :class => 'button radius'

  .large-7.columns
    %h2 Songs in this contest
    %table
      %theader
        %tr
          %th Vote
          %th Song
          %th Artist
      %tbody
        - @songs.each do |song|
          %tr
            %td
              - if !@auth.id.in?(@contest.users_that_voted) #OK to vote
                .vote= button_tag 'Vote', :id => 'vote_button', :class => 'button radius success tiny'
              - else
              .checkbox.hide= image_tag('checkbox.png', :size => '35x35')
            %td.hide= song.id
            %td= link_to(song.title, song.spy_url, :target => "_blank")
            %td= song.artist