.row
  .large-3.columns
    %h2= @contest.name
    %h5
      Created by:
      = @owner.first_name
    %h5
      Description:
      = @contest.description
    %h5
      = @contest.start_date
      to
      = @contest.end_date
  .large-6.columns
    %h2 Songs in the running:
    - @songs.each do |song|
      %h3
        = link_to(song.name + " by " + song.artist, song.spy_url)
      %br
  .large-3.columns


