.row
  .large-5.columns
    %h6= @contest.name
    = link_to 'View playlist in Spotify web', 'http://open.spotify.com/user/khalua/playlist/4sr4qCrtBG45sJO2377FB3', :class => 'button radius'
    %script
      = "var contest_id = #{@contest.id}"
    %p
      = @owner.first_name
      created this contest
    %br
    %p
      Description:
      = @contest.description
    %p
      = @contest.start_date
      to
      = @contest.end_date
      - if !current_user.in?(@contest.entries) #user does not have an entry in this contest
        %br
        = link_to 'Add your song', new_contest_song_path(@contest), :class => 'button radius'

  .large-7.columns
    %p Songs in this contest
    %table
      %theader
        %tr
          %th Vote
          %th Song
          %th Artist
      %tbody
        - @contest.songs.each do |song|
          %tr
            %td
              - if !@contest.users_that_voted.include?(current_user.id) #OK to vote
                - if !song.in?(current_user.songs) #not ok to vote on your own song
                  .vote= button_tag 'Vote', :id => 'vote_button', :'data-song-id' => song.id ,:class => 'button radius success tiny'
              -elsif @contest.users_that_voted.include?(current_user.id) #already voted
                - if song.id == @contest.votes.select {|x| x.user_id == current_user.id }.first.song_id #voted song
                  .checkbox= image_tag('checkbox.png', :size => '35x35')
              - else
              .checkbox.hide= image_tag('checkbox.png', :size => '35x35')
            %td.hide= song.id
            %td= link_to(song.title, song.spy_url, :target => "_blank")
            %td= song.artist