.row
  .large-5.columns
    %h2= @contest.name
    %h5
      Created by:
      = @owner.first_name
    %h5
      Description:
      = @contest.description
    %h5
      = @contest.start_date
      to
      = @contest.end_date
      - if !@auth.in?(@contest.entries)
        = link_to 'Add your song', new_contest_song_path(@contest), :class => 'button radius'

  .large-7.columns
    %h2 Songs in the running:
    - @songs.each do |song|
      %h3
        = link_to(song.title + " by " + song.artist, song.spy_url)
      %br

