.row
  .large-5.columns.large-centered
    %h3 Account settings
    = simple_form_for @user, :html => {:multipart => true} do |f|
      = f.input :first_name
      = f.input :last_name
      = f.input :email
      = f.input :image, :as => :file
      = f.input :password
      = f.association :groups
      = f.submit :class => 'button radius'
      = link_to('Cancel', root_path, :class => 'button radius alert')
