  <div class="row">
    <div class="large-4 columns">
      <%= image_tag('welcome1.jpg') %>
    </div>
    <div class="large-8 columns">
      <h4>Spotifriends helps you discover new music with your friends.</h4>
      <div class="row">
        <div class="large-6 columns">
          <p>What's the point of having the greatest collection of music ever known to mankind if you can't share it?</p>
        </div>
        <div class="large-6 columns">
          <p>Reminisce over old times, and create new better times. Stop living in the past son!</p>
        </div>
      </div>
    </div>
  </div>


  <!-- Third Band (Image Right with Text) -->

  <div class="row">
    <div class="large-8 columns">
      <h4>Compete with your friends and see who has the best taste in music!</h4>

      <p>Spotifriends helps you run contests to discover new music. It's pretty goddamn amazing.  </p>

      <% if current_user && (current_user.logged_in_with_pwd != true) %>
        <%= button_to "Claim your account", claim_account_path(current_user), :method => :get %>
      <% end %>

      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>

      <p></p>

    </div>
    <div class="large-4 columns">
      <%= image_tag('welcome2.jpg') %>
    </div>
  </div>

<% if @current_user %>
  <%= link_to "Claim your account", new_password_path(session[:user_id]) %>
<% end %>