%script
  var song = {};
.row
  .large-4.columns
    = form_for(@song, :url => contest_songs_path(@contest), :remote => true, :method => :get) do |f|
      = token_tag nil
      = f.label :spy_url, 'Spotify URL'
      = f.text_field :spy_url
    %h3
      Contest:
      = @contest.name
    #add_song_button.hide
      = link_to('Enter song', '#', "data-reveal-id" => "confirm", :class => 'button radius')
  .large-1.columns
  .large-7.columns
    #song_box
      .title
      .artist
      .album_art

#confirm.reveal-modal.medium
  %h2 Add song to contest?
  %p.lead This is your entry!
  %a.close-reveal-modal &#215;
  = form_for(@song, :url => contest_songs_path(@contest), :method => :post) do |f|
    = f.hidden_field :spy_id, :id => :selected_song
    = f.submit 'OK', :class => 'tiny button'

  / = link_to('OK',new_contest_song_path, :class => 'tiny button', :method => :post )

