%script
  var song = {};
.row
  .large-5.columns
    .draganddrop= image_tag('draganddrop.jpg')
    %br
    = form_for(@song, :url => contest_songs_path(@contest), :remote => true, :method => :get) do |f|
      = token_tag nil
      = f.label :spy_url, 'Spotify URL'
      = f.text_field :spy_url

    .loader
      = image_tag('ajax-loader.gif')

    %h5.draganddrop
      Find a song in Spotify(c) and drop it into this box yo!
    %h5.sweet_track.hide
      This is a sweet track. Want to add it to the contest
      = @contest.name
      ? If not, drag another track above.

    #add_song_button.hide
      = link_to('Enter song', '#', "data-reveal-id" => "confirm", :class => 'button radius')
  .large-1.columns
  .large-6.columns
    #song_box
      .title
      .artist
      .album_art

#confirm.reveal-modal.medium
  %h2 Add song to contest?
  %p.lead This is your entry. No undos!
  %a.close-reveal-modal &#215;
  = form_for(@song, :url => contest_songs_path(@contest), :method => :post) do |f|
    = f.hidden_field :spy_id, :id => :selected_song
    = f.submit 'OK', :class => 'tiny button'
