.row
  .large-4.columns
    = form_for(@song, :url => contest_songs_path(@contest), :remote => true, :method => :get) do |f|
      = token_tag nil
      = f.label :spy_url, 'Spotify URL'
      = f.text_field :spy_url
    %h3
      Contest:
      = @contest.name
    #add_song_button.hide
      = link_to('Add Song to contest', '#', :id=>'create_song', :class => 'button radius')
  .large-1.columns
  .large-7.columns
    #song_box
      .title
      .artist
      .album_art

