<!-- Navigation -->

<ul class="button-group round small right">
  <li><a href="/" class="button">Home</a></li>
  <% if @auth.present? %>
  <li><a data-dropdown="drop1" href="#" class='button dropdown'>Contests manager</a>
    <ul id='drop1' class='f-dropdown'>
      <li><%= link_to('Active contests', contests_path) %></li>
      <li><%= link_to('New contest', new_contest_path) %></li>
    </ul>
  </li>
  <li><%= link_to('Your settings', user_path(@auth), :class => 'button') %> </li>
  <li><%= link_to('Logout', login_path, :method => :delete, :confirm => 'Sure?', :class => 'button') %></li>
  <% else %>
  <li><%= link_to("Beta login", login_path, :class => 'button') %></li>
  <li><%= link_to("Request account", new_request_path, :class => 'button') %></li>
  <% end %>
</ul>
<!-- End Navigation -->