<!DOCTYPE html>
<html>
<head>
  <title>Spotifriends</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width" />
</head>
<body>
  <div class="row">
    <div class="large-12 columns">
      <site-name>Spotifriends</site-name>
      <%= render :partial => "layouts/nav" %>
    </div>
  </div>
  <div class='spacer'></div>

  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>

  <%= yield %>

  <%#= render :partial => "layouts/footer" %>

  <script>
    $(document).foundation();
  </script>

  <%= render :partial => "layouts/google_analytics" %>


</body>
</html>
