<!DOCTYPE html>
<html>
<head>
  <title>FitBot</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="row">
  <div class="large-12 columns">

  <%= render :partial => "layouts/nav" %>

<h1>FitBot</h1>

<%= yield %>

  <%#= render :partial => "layouts/footer" %>


</div>
</div>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
